@model List<TimeAnomalyWeb.Models.TimeData>

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        body {
            font-family: Arial;
            margin: 0;
            padding: 20px;
            background: linear-gradient(135deg, #fff5f5, #ffffff);
        }

        .dark {
            background: #121212;
            color: white;
        }

        h1 {
            color: navy;
        }

        .topbar {
            display: flex;
            justify-content: space-between;
        }

        .btn {
            background: navy;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 8px;
            cursor: pointer;
        }

        .card {
            display: inline-block;
            width: 30%;
            padding: 20px;
            margin: 10px;
            background: #fff5f5;
            border-radius: 10px;
            text-align: center;
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th {
            background: blue;
            color: white;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        .anomaly {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="topbar">
        <h1>Anomaly Dashboard</h1>
        <button class="btn" onclick="toggleMode()">🌙</button>
    </div>

    <form asp-action="UploadCSV" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button class="btn">Upload CSV</button>
    </form>

    <br>

    <a href="/Home/DownloadPDF">
        <button class="btn">Download PDF</button>
    </a>

    <div>
        <div class="card">
            <h3>Total</h3>
            <p>@Model.Count</p>
        </div>

        <div class="card">
            <h3>Anomalies</h3>
            <p>@Model.Count(x => x.IsAnomaly)</p>
        </div>

        <div class="card">
            <h3>Normal</h3>
            <p>@Model.Count(x => !x.IsAnomaly)</p>
        </div>
    </div>

    <canvas id="chart"></canvas>

    <table>
        <tr>
            <th>Timestamp</th>
            <th>Value</th>
            <th>Status</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Timestamp</td>
                <td>@item.Value</td>
                <td class="@(item.IsAnomaly ? "anomaly" : "")">
                    @(item.IsAnomaly ? "Anomaly" : "Normal")
                </td>
            </tr>
        }
    </table>

    <script>
        function toggleMode() {
            document.body.classList.toggle("dark");
        }

        let labels = [];
        let values = [];
        let anomalies = [];

        @foreach (var item in Model)
        {
                <text>
                    labels.push("@item.Timestamp.ToString("HH:mm:ss")");
                    values.push(@item.Value);
                    anomalies.push(@(item.IsAnomaly? item.Value.ToString(System.Globalization.CultureInfo.InvariantCulture) : "null"));
                </text>
        }

        if (values.length > 0) {
            new Chart(document.getElementById('chart'), {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Values',
                            data: values,
                            borderColor: 'crimson',
                            tension: 0.4
                        },
                        {
                            label: 'Anomalies',
                            data: anomalies,
                            borderColor: 'red',
                            pointRadius: 6,
                            showLine: false
                        }
                    ]
                }
            });
        }
    </script>

</body>
</html>